PORT=5000
MONGO_URI=mongodb+srv://gabrielkamowatimwa_db_user:C4IfDaz3QH9fYXgc@cluster0.jeiniip.mongodb.net/?appName=Cluster0
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
CLERK_PUBLISHABLE_KEY=pk_test_cmVsYXhlZC1jYXRmaXNoLTcwLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_XMbbC5j0nEA5tZV3imPY1Wa1sQl3uzEBxAZ4Y3sph1

